pipeline/ACT_MT_M7_IncrementalCopy.json
{
	"name": "ACT_MT_M7_IncrementalCopy",
	"properties": {
		"activities": [
			{
				"name": "Incremental Copy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup last modified date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "New last modified date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "online//"
					},
					{
						"name": "Destination",
						"value": "raw/online/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": {
								"value": "@convertToUtc(formatDateTime(activity('Lookup last modified date').output.firstRow.WaterMarkValue, 'yyyy-MM-dd HH:mm:ss'),'Singapore Standard Time')",
								"type": "Expression"
							},
							"modifiedDatetimeEnd": {
								"value": "@convertToUtc(variables('curr_datetime'), 'Singapore Standard Time')",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"validateDataConsistency": false
				},
				"inputs": [
					{
						"referenceName": "Source_azurementoringstoregenwl_online",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Sink_azurementoringdatalake_online",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Lookup last modified date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select WatermarkValue from dbo.watermarktable where TableName = 'online_blob_storage';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SourceCinemaTickets",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Update watermark table with new last modified date",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Incremental Copy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[usp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@variables('curr_datetime')",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": "online_blob_storage",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_SQL_CinemaTickets",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "New last modified date",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "curr_datetime",
					"value": {
						"value": "@formatDateTime(convertFromUtc(utcnow(),'Singapore Standard Time'),'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"curr_datetime": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-09-09T10:21:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}