pipeline/ACT_MT_M9_CopyTask_TopLevel.json
{
	"name": "ACT_MT_M9_CopyTask_TopLevel",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from [etl].[tControlMetadata]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MoviesDatabase",
						"type": "DatasetReference",
						"parameters": {
							"schema": "etl",
							"tableName": "tControlMetadata"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ACT_MT_M9_CopyTask_LowLevel",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"ObjectsPerGroupToCopy": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"error_message": {
				"type": "Array"
			},
			"error_code": {
				"type": "String"
			},
			"errors": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "ACT_MT_M9"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-21T08:11:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}